# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# image files of the public/images folder
public/images/*.png
public/images/*.jpg
public/images/*.jpeg
public/images/*.gif
public/images/*.svg
public/images/*.webp
public/images/*.ico


#products.js file
products.js

node_modules
dist
dist-ssr
*.local

.env
.env.*.local



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
